
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (TempData["Msg"] != null) { 
    <p class="text-danger">@TempData["Msg"]</p>
}
<form method="post">
    <input type="text" name="Uname" placeholder="Username" class="form-control" />
    <input type="password" name="Pass" placeholder="Password" class="form-control" />
    <input type="submit" value="Login" class="btn btn-success" />
</form>

