
@{
    ViewBag.Title = "MakeOrder";
}

<h2>MakeOrder</h2>
<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td><a class="btn btn-primary" href="/Order/AddtoCart/@item.Id">Add to Cart</a></td>
        </tr>
    }
</table>

